<head>
    <link rel="stylesheet" href="/students_details.css">

</head>

<div >
    <p id="titre">

        <strong>
            Informations on the student
        </strong>
    </p>
    <u>Name of the student :</u>
    <%=students[id].name%> <br><br> <u>University :</u>
        <%=students[id].school%> <br><br> <u>Age of the student :</u>
            <%=students[id].age%> <br><br><u>Nationality :</u>
                <%=students[id].nation%> <br><br>

                <img src="https://www.montpellier.fr/uploads/Image/bf/17179_017_passeport.jpg"/>
</div>

